<html xmlns:th="http://www.w3.org/1999/xhtml">
User:<br/>
<h2><span style="color: green"  th:text="${username}">Username</span><br/></h2>

        All emails
        <table>
            <th:block th:each="email : ${allemails}">
                <tr>
                    <td>FROM:</td>
                    <td th:text="${email.fromUser}">...</td>
                    <td>TO:</td>
                    <td th:text="${email.toUser}">...</td>
                    <td>TEXT:</td>
                    <td th:text="${email.text}">...</td>
                </tr>
            </th:block>
        </table>
<br/>

<a th:href="@{/logout}">Logout</a>
</html>
