<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .inline {
            display: inline-block;
            border: 1px solid cadetblue;
            margin: 10px;
        }
    </style>
</head>
User:<br/>
<h2><span style="color: green"  th:text="${username}">Username</span><br/></h2>

<span style="color: green" th:if="${message != null}" th:text="${message}">Message</span><br/>
<span style="color: red" th:if="${error != null}" th:text="${error}">Message</span><br/>
<div>
    <div class="inline">
        Emails to you:
        <table>
            <th:block th:each="email : ${emailsToYou}">
                <tr>
                    <td>FROM:</td>
                    <td th:text="${email.fromUser}">...</td>
                    <td>TEXT:</td>
                    <td th:text="${email.text}">...</td>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="inline">
        Emails from you:
        <table>
            <th:block th:each="email : ${emailsFromYou}">
                <tr>
                    <td>FROM:</td>
                    <td th:text="${email.fromUser}">...</td>
                    <td>TEXT:</td>
                    <td th:text="${email.text}">...</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
<br/>
<form method="POST" th:action="@{/}" th:object="${email}">
    To:
    <input type="text" name="username" th:field="*{toUser}"/>
    <br/>
    Text:
    <input type="text" name="password" th:field="*{text}"/>
    <br/>
    <button type="submit" name="submit">send</button>
    <br/>
</form>
<br/>

<div th:if="${isAdmin}">
    <a th:href="@{/emails/all}">See all emails</a>
</div><br/>

<a th:href="@{/logout}">Logout</a>
</html>
