<html xmlns:th="http://www.w3.org/1999/xhtml">
<span style="color: red" th:if="${error != null}" th:text="${error}">Message</span><br/>
<form method="POST" th:action="@{/login}" th:object="${user}">
    Login
   <input type="text" name="userName" value="James Carrot" th:field="*{username}"/>
    <br/>
    Password
    <input type="text" name="userName" value="James Carrot" th:field="*{password}"/>
    <br/>
    <button type="submit" name="submit">Log in</button>
    <br/>
    <a th:href="@{/registration}">Registration</a>
</form>
</html>