<html xmlns:th="http://www.w3.org/1999/xhtml">
REGISTRATION
<form method="POST" th:action="@{/registration}" th:object="${user}">
    <span style="color: red" th:if="${error != null}" th:text="${error}">Message</span><br/><br/>
    Login
    <input type="text" name="username"  th:field="*{username}"/>
    <td style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
    <br/>
    Password
    <input type="text" name="password" th:field="*{password}"/>
    <td style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
    <br/>
    Admin
    <input type="checkbox" name="isAdmin" th:field="*{isAdmin}"/><br/>
    <button type="submit" name="submit">Registration</button>
    <br/>
</form>
</html>